# КОПИРУЙТЕ В .env И ЗАПОЛНИТЕ СВОИМИ ЗНАЧЕНИЯМИ
# НЕ КОММИТЬТЕ .env В РЕПОЗИТОРИЙ!

BOT_TOKEN="ваш_токен_бота"
ADMIN_ID="ваш_admin_id"
DB="/app/data/bot.db"
GEMINI_API_KEY="ваш_api_ключ"
CHANNEL_ID=""
AMOCRM_SUBDOMAIN=""
AMOCRM_ACCESS_TOKEN=""
